<% provide(:title, "Top") %>
<div class="pull-left">
  <div class="container">
    <h1>Task App</h1>
    <p>
      TaskAppは簡易ToDo管理ツールです。<br>
      <br>
      ↓↓初めてのご利用↓↓
    </p>
    <center>
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
    </center>
  </div>
</div>
